
	<h1>About <%= appName %></h1>
	<p>
		<%= appName %> is a Ruby on Rails application to help you organize
		and protect your recipes, easily share them with others.  It was 
		written by Jake Teton-Landis in an endeavor to learn the Ruby
		language, and the Ruby on Rails web development framework.  You can 
		find the source code on <a href="http://github.com">GitHub</a>.
	</p>
