
	<h1>Get in Touch</h1>
	<p>
		This is the contact page for for <%= appName :short %>.
		It should, when finished, include an email submission form, with captcha.
		You can reach me at <code>just dot 1 dot jake at gmail dot com</code>.
	</p>
	