
	<h1>Recipes on Rails Home</h1>
	<p>
		This is the home page for for RecipesOnRails.  
		It should, when finished, include the following:
	</p>
	
	<ul>
		<li>Counts of recipes and meal plans</li>
		<li>Number of total and online users</li>
		<li>Recently created recipes</li>
		<li>Recently written notes and comments</li>
		<li>Links to other apps</li>
		<li>Immediate search functionality</li>
	</ul>
		